# Gradle
.gradle/
build/
**/build/
local.properties

# Android Studio / IntelliJ
*.iml
.idea/
.DS_Store
captures/

# Keystore
*.jks
*.keystore

# APK & output files
*.apk
*.aab

# Google Services
google-services.json

# Misc
*.log
.externalNativeBuild/
.cxx/
